FRS/HolidayReservationSystemClient/xml-resources/web-service-references/HolidayReservationSystemWebService/wsdl/localhost_8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="highestFare">
<part name="parameters" element="tns:highestFare"/>
</message>
<message name="highestFareResponse">
<part name="parameters" element="tns:highestFareResponse"/>
</message>
<message name="FlightScheduleNotFoundException">
<part name="fault" element="tns:FlightScheduleNotFoundException"/>
</message>
<message name="getListOfFlightSchedules">
<part name="parameters" element="tns:getListOfFlightSchedules"/>
</message>
<message name="getListOfFlightSchedulesResponse">
<part name="parameters" element="tns:getListOfFlightSchedulesResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="FlightNotFoundException">
<part name="fault" element="tns:FlightNotFoundException"/>
</message>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getListOfConnectingFlightSchedules">
<part name="parameters" element="tns:getListOfConnectingFlightSchedules"/>
</message>
<message name="getListOfConnectingFlightSchedulesResponse">
<part name="parameters" element="tns:getListOfConnectingFlightSchedulesResponse"/>
</message>
<portType name="HolidayReservationSystemWebService">
<operation name="highestFare">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/highestFareRequest" message="tns:highestFare"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/highestFareResponse" message="tns:highestFareResponse"/>
<fault message="tns:FlightScheduleNotFoundException" name="FlightScheduleNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/highestFare/Fault/FlightScheduleNotFoundException"/>
</operation>
<operation name="getListOfFlightSchedules">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfFlightSchedulesRequest" message="tns:getListOfFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfFlightSchedulesResponse" message="tns:getListOfFlightSchedulesResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfFlightSchedules/Fault/ParseException"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfFlightSchedules/Fault/FlightNotFoundException"/>
</operation>
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/doLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getListOfConnectingFlightSchedules">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfConnectingFlightSchedulesRequest" message="tns:getListOfConnectingFlightSchedules"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfConnectingFlightSchedulesResponse" message="tns:getListOfConnectingFlightSchedulesResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfConnectingFlightSchedules/Fault/ParseException"/>
<fault message="tns:FlightNotFoundException" name="FlightNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getListOfConnectingFlightSchedules/Fault/FlightNotFoundException"/>
</operation>
</portType>
<binding name="HolidayReservationSystemWebServicePortBinding" type="tns:HolidayReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="highestFare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightScheduleNotFoundException">
<soap:fault name="FlightScheduleNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getListOfFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getListOfConnectingFlightSchedules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="FlightNotFoundException">
<soap:fault name="FlightNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HolidayReservationSystemWebService">
<port name="HolidayReservationSystemWebServicePort" binding="tns:HolidayReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService"/>
</port>
</service>
</definitions>